<div class="panel panel-warning">
    <div class="panel-heading">北大集市公告</div>
    <div class="panel-body">
        <p>
        欢迎来到北大集市。
        北大集市是由信科学院的三位同学（在校生）打造的面向北大同学的二手商品交易网络平台。
        在北大集市，每一位北大同学都可以方便的进行闲置二手物品的出售和求购，也可以在北大集市开店代理其他的产品或者组织团购合购等。
        </p>
        <p>
        目前仅仅面向北大同学开放。
        希望大家多多支持和鼓励。谢谢！
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">在线播报</div>
    <div class="panel-body">
        截止到今，已经有{{g.user_count}}名同学通过北大集市发布了超过{{g.sell_count}}件商品，求购了{{g.buy_count}}件商品。
    </div>
</div> 

<div class="panel panel-primary">
    <div class="panel-heading">关注北大集市</div>
    <div class="panel-body">
        加入北大集市用户QQ群： 235815470 <br />
        关注<a href="http://zhan.renren.com/pkujishi" target="_blank">北大集市人人小站</a> 
        <br />
        扫描关注北大集市微信订阅号：
        <br />
        <img src="{{ url_for('static', filename='images/weixin.jpg') }}" alt="weixin" width="180" height="180" /> 

    </div>
</div> 

