<div class="panel panel-warning">
    <div class="panel-heading">北大集市公告</div>
    <div class="panel-body">
        欢迎来到北大集市。
        北大集市是由信科学院的三位同学（在校生）打造的面向北大同学的二手商品交易网络平台。
        在北大集市，每一位北大同学都可以方便的进行闲置二手物品的出售和求购，也可以在北大集市开店代理其他的产品或者组织团购合购等。
        目前仅仅面向北大同学开放。
        希望大家多多支持和鼓励。谢谢！
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">在线播报</div>
    <div class="panel-body">
        截止到今，已经有
        {{g.user_count}}名同学通过北大集市发布了超过{{g.sell_count}}件商品，求购了{{g.buy_count}}件商品。
    </div>
</div> 

<blockquote>
    <p>生活是如此艰辛，要节约用钱。</p>
    <footer>强哥哥</footer>
</blockquote>
