<div class="panel panel-warning">
    <div class="panel-heading">北大集市公告</div>
    <div class="panel-body">
        北大集市网是由北大在校生
        创业团队打造的面向北京大
        学同学的二手物品交易网络
        平台.
        只需要通过北大邮箱注册,即
        可在北大集市上面发布二手
        物品信息,.......................
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">在线播报</div>
    <div class="panel-body">
        截止到今，已经有
        {{g.user_count}}名同学通过北大集市发布了超过{{g.sell_count}}件商品，求购了{{g.buy_count}}件商品。
    </div>
</div>        
