<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <a target="_blank" href="{{ url_for('intro') }}">
            <center>
                <img src="{{url_for('static', filename='images/slides/slide.png')}}" alt="pic">
            </center>
            </a>
            <div class="carousel-caption">
                <!-- Description HERE -->
            </div>
        </div>
        <div class="item">
            <center>
                <img src="{{url_for('static', filename='images/slides/slide-01.jpg')}}" alt="pic">
            </center>
            <div class="carousel-caption">
                <!-- Description HERE -->
            </div>
        </div>
        <div class="item">
            <center>
                <img src="{{url_for('static', filename='images/slides/slide-02.jpg')}}" alt="pic">
            </center>
            <div class="carousel-caption">
                <!-- Description HERE -->
            </div>
        </div>
        <div class="item">
            <center>
                <img src="{{url_for('static', filename='images/slides/slide-03.jpg')}}" alt="pic">
            </center>
            <div class="carousel-caption">
                <!-- Description HERE -->
            </div>
        </div>
        <div class="item">
            <center>
                <img src="{{url_for('static', filename='images/slides/slide-04.jpg')}}" alt="pic">
            </center>
            <div class="carousel-caption">
                <!-- Description HERE -->
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<script>
    $(function(){
        $('.carousel').carousel({
            interval: 5000
        })
    })
</script>
