<ul id="category-list" class="nav nav-pills nav-stacked">
    {% for c in g.categories %}
    <li>
    <a href="{{url_for('sell_index', category_id=c.id) }}">
        <center>
            {{c.name}}
        </center>
    </a>
    </li>
    {% endfor %}
</ul>    
<!--<div class="row">
    <div id="category-div">
        <ul id="category-list" class="list-unstyled text-center">
            {% for c in g.categories %}
            <li class="col-md-3"><a href="{{ url_for('sell_index', category_id=c.id) }}">{{c.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>--><!--./row-->
