<ul id="category-list" class="nav nav-pills nav-stacked dropdown-menu" style="display:inline-block!important; left: 16px!important">
    {% for c in g.categories %}
    <li data-submenu-id="sub-{{c.id}}">
    <a href="{{url_for('sell_index', category_id=c.id) }}"> <center> {{c.name}} </center> </a>
    <div id="sub-{{c.id}}" class="popover">  
        <div class="popover-content">
            <ul>
                {% for subcategory in g.subcategories[c.id-1] %}
                <li> <a href="{{ url_for('sell_index', category_id=subcategory.id) }}">{{subcategory.name}}</a> </li>
                {% endfor %}
            </ul>

        </div>                       
    </div>
    </li>
    {% endfor %}
</ul>    

<script src="{{ url_for('static', filename='js/jquery.menu-aim.js') }}"></script>
<script src="{{ url_for('static', filename='js/submenu.js') }}"></script>
