{% extends "layout/default.html" %}

{% block title %}修改密码{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
<div class="row">
<form role="form" class="form-horizontal" >
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">注册邮箱</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="email" placeholder="example@pku.edu.cn">
    </div>
	<div class="col-sm-4">
		<p class="input-notes">
		*请使用北大邮箱@pku.edu.cn注册
		</p>
	</div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-6">
      <input type="name" class="form-control" id="name">
    </div>
	<div class="col-sm-4">
		<p class="input-notes">
		*请填写用户名，少于6个字符
		</p>
	</div>
  </div>
  <div class="form-group">
    <label for="old_password" class="col-sm-2 control-label">旧密码</label>
    <div class="col-sm-6">
      <input type="old_password" class="form-control" id="password">
    </div>
	<div class="col-sm-4">
		<p class="input-notes">
		*请输入旧密码
		</p>
	</div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="password">
    </div>
	<div class="col-sm-4">
		<p class="input-notes">
		*请设置新密码，不少于6位
		</p>
	</div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">确认新密码</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="password">
    </div>
	<div class="col-sm-4">
		<p class="input-notes">
		*请重复上面设置的密码
		</p>
	</div>
  </div>
  <div class="form-group">
    <label for="vcode" class="col-sm-2 control-label">验证码</label>
    <div class="col-sm-3">
      <input type="vcode" class="form-control" id="vcode">
    </div>
	<div class="col-sm-3">
      <image src="" alt="验证码"/>
    </div>
	<div class="col-sm-4">
		<p class="input-notes">
		*看不清楚，<a href="">换一张</a>
		</p>
	</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">确认修改</button>
    </div>
  </div>
</form>
</div>
</div>
</div> <!-- ./container -->
{% include 'inc/footer.html' with context %}
{% endblock %}
