{% extends "layout/default.html" %}
{% from "shared/_formhelpers.html" import render_field_error %}

{% block title %}修改密码{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
<legend>修改密码</legend>
<div class="row">
<form role="form" class="form-horizontal" >
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.old_password.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
      {{ form.old_password(class='form-control'}}
      {{ render_field_error(form.old_password) }}
    </div>
	<div class="col-sm-4">
		<p class="text-info">
        {{ form.old_password.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    {{ form.new_password.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
      {{ form.new_password.label(class='col-sm-2 control-label') }}
      {{ render_field_error(form.new_password) }}
    </div>
	<div class="col-sm-4">
		<p class="text-info">
        {{ form.new_password.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    {{ form.new_password_confirm.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
      <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm">
      {{ form.new_password_confirm.label(class='col-sm-2 control-label') }}
      {{ render_field_error(form.new_password_confirm) }}
    </div>
	<div class="col-sm-4">
		<p class="text-info">
        {{ form.new_password_confirm.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    {{ form.recaptcha.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
    {{ form.recaptcha(class='form-control') }}
    {{ render_field_error(form.recaptcha) }}
    </div>
	<div class="col-sm-4">
		<p class="text-info">
        {{ form.recaptcha.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">确认修改</button>
    </div>
  </div>     
</form>
</div>
</div>
</div> <!-- ./container -->
{% include 'inc/footer.html' with context %}
{% endblock %}
