{% extends "layout/default.html" %}
{% from "shared/_formhelpers.html" import render_field_error %}

{% block title %}修改密码{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_script %}
<script>
    $(function(){
        $(".change-captcha").click(function(){
            $('#captcha-img').remove();
            var captcha = "<img src='{{ url_for('captcha') }}' alt='验证码' id='captcha-img'/>";
            $('#captcha-link').html(captcha);
        });
    });
</script>   
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
<legend>修改密码</legend>
<div class="row">
<form role="form" class="form-horizontal" action="" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.old_password.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
      {{ form.old_password(class='form-control') }}
      {{ render_field_error(form.old_password) }}
    </div>
	<div class="col-sm-4">
		<p class="text-info">
        {{ form.old_password.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    {{ form.new_password.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
      {{ form.new_password(class='form-control') }}
      {{ render_field_error(form.new_password) }}
    </div>
	<div class="col-sm-4">
		<p class="text-info">
        {{ form.new_password.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    {{ form.new_password_confirm.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
      {{ form.new_password_confirm(class='form-control') }}
      {{ render_field_error(form.new_password_confirm) }}
    </div>
	<div class="col-sm-4">
		<p class="text-info">
        {{ form.new_password_confirm.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    {{ form.captcha.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
    {{ form.captcha(class='form-control') }}
    {{ render_field_error(form.captcha) }}
    <div id="captcha-div">
        <br />
        <a id="captcha-link" class="change-captcha" title="点击换一张" href="#">
            <img src="{{ url_for('captcha') }}" alt="验证码" id='captcha-img'/>
        </a>
    </div>
    <br />
    <a class="change-captcha" href="#">看不清楚,换一张</a>
    </div>
	<div class="col-sm-4">
		<p class="text-info">
        {{ form.captcha.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">确认修改</button>
    </div>
  </div>     
</form>
</div>
</div>
</div> <!-- ./container -->
{% include 'inc/footer.html' with context %}
{% endblock %}
