{% extends "layout/default.html" %}
{% from "shared/_formhelpers.html" import render_field_error %}

{% block title %}忘记密码{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
<div class="row">
<legend>忘记密码</legend>
<form role="form" class="form-horizontal" >
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.email.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
    {{ form.email(class='form-control', placeholder='example@pku.edu.cn') }}
    {{ render_field_error(form.email) }}
    </div>
	<div class="col-sm-4">
		<p class="input-notes">
        {{ form.email.description }}
		</p>
	</div>
  </div>
  <div class="form-group">
    {{ form.recaptcha.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
    {{ form.recaptcha(class='form-control') }}
    {{ render_field_error(form.recaptcha) }}
    </div>
    <div class="col-sm-4">
        <p class="text-info">
        {{ form.recaptcha.description }}
        </p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">确认</button>
    </div>
  </div>
</form>
</div>
</div>
</div> <!-- ./container -->  
{% include 'inc/footer.html' with context %}
{% endblock %}
