{% extends "layout/default.html" %}
{% from "shared/_formhelpers.html" import render_field_error %}

{% block title %}修改资料{% endblock %}

{% block custom_css %}
<style type="text/css">
	#info-div {
		padding: 20px 20px;
	}
</style>
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
<div class="row">
<div class="col-md-12">
<ul class="nav nav-pills">
  <li><a href="{{ url_for('user_sell') }}">我发布的商品</a></li>
  <li><a href="{{ url_for('user_buy') }}">我求购的商品</a></li>
  <!--<li><a href="{{ url_for('user_message') }}">我的消息</a></li>-->
  <li class="active"><a href="{{ url_for('user_info') }}">我的资料</a></li>
</ul>
</div>
</div>

<div id="info-div" class="row">
    <form role="form" class="form-horizontal" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.phone.label(class='col-sm-2 control-label') }}
            <div class="col-sm-6">
                {{ form.phone(class='form-control') }}
                {{ render_field_error(form.phone) }}
            </div>
            <div class="col-sm-4">
                <p class="text-info">
                {{ form.phone.description }}
                </p>
            </div>
        </div>
        <div class="form-group">
            {{ form.qq.label(class='col-sm-2 control-label') }}
            <div class="col-sm-6">
                {{ form.qq(class='form-control') }}
                {{ render_field_error(form.qq) }}
            </div>
            <div class="col-sm-4">
                <p class="text-info">
                {{ form.qq.description }}
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">确认修改</button>
            </div>
        </div>     
    </form>
</div>

</div><!--/.container-->
{% include 'inc/footer.html' with context %}
{% endblock %}
