{% extends "layout/default.html" %}
{% from "shared/_formhelpers.html" import render_field_error %}

{% block title %}注册{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/register.css')}}" rel="stylesheet">
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/auto-email.js')}}"></script>
<script>
    $(function(){
        $("#email").autoEmail(["pku.edu.cn", "icst.pku.edu.cn"], true);
    });
</script>
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
<div class="row">
<form role="form" class="form-horizontal" method="post" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label(class='col-sm-2 control-label') }}
        <div class="col-sm-6">
        {{ form.email(class='form-control', placeholder='example@pku.edu.cn') }}
        {{ render_field_error(form.email) }}
        </div>
        <div class="col-sm-4">
            <p class="input-notes">
            {{ form.email.description }}
            </p>
        </div>
    </div>
    <div class="form-group">
        {{ form.username.label(class='col-sm-2 control-label') }}
        <div class="col-sm-6">
        {{ form.username(class='form-control',autocomplete='off') }}
        {{ render_field_error(form.username) }}
        </div>
        <div class="col-sm-4">
            <p class="input-notes">
            {{ form.username.description }}
            </p>
        </div>
    </div>
    <div class="form-group">
        {{ form.password.label(class='col-sm-2 control-label') }}
        <div class="col-sm-6">
        {{ form.password(class='form-control') }}
        {{ render_field_error(form.password) }}
        </div>
        <div class="col-sm-4">
            <p class="input-notes">
            {{ form.password.description }}
            </p>
        </div>
    </div>
    <div class="form-group">
        {{ form.password_confirm.label(class='col-sm-2 control-label') }}
        <div class="col-sm-6">
        {{ form.password_confirm(class='form-control') }}
        {{ render_field_error(form.password_confirm) }}
        </div>
        <div class="col-sm-4">
            <p class="input-notes">
            {{ form.password_confirm.description }}
            </p>
        </div>
    </div>
    <div class="form-group">
        {{ form.recaptcha.label(class='col-sm-2 control-label') }}
        <div class="col-sm-6">
        {{ form.recaptcha(class='form-control') }}
        {{ render_field_error(form.recaptcha) }}
        </div>
        <div class="col-sm-4">
            <p class="input-notes">
            {{ form.recaptcha.description }}
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                {{ form.accept_tos }} {{ form.accept_tos.label }}
            </div>
            {{ render_field_error(form.accept_tos) }}
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">确认注册</button>
        </div>
    </div>
</form>
</div>
</div>
</div> <!-- ./container -->
{% include 'inc/footer.html' with context %}
{% endblock %}
