{% extends "layout/default.html" %}
{% from "shared/_formhelpers.html" import render_field_error %}

{% block title %}重置密码{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
<legend>重置密码</legend>
<div class="row">
  <form role="form" class="form-horizontal" action="" method="post">
  {{ form.hidden_tag() }}
  <input type="hidden" name="uid"/>
  <input type="hidden" name="code"/>
  <div class="form-group">
      {{ form.password.label(class='col-sm-2 control-label') }}
      <div class="col-sm-6">
      {{ form.password(class='form-control') }}
      {{ render_field_error(form.password) }}
      </div>
      <div class="col-sm-4">
          <p class="text-info">
          {{ form.password.description }}
          </p>
      </div>
  </div>
  <div class="form-group">
      {{ form.password_confirm.label(class='col-sm-2 control-label') }}
      <div class="col-sm-6">
      {{ form.password_confirm(class='form-control') }}
      {{ render_field_error(form.password_confirm) }}
      </div>
      <div class="col-sm-4">
          <p class="text-info">
          {{ form.password_confirm.description }}
          </p>
      </div>
  </div>
  <div class="form-group">
        {{ form.recaptcha.label(class='col-sm-2 control-label') }}
        <div class="col-sm-6">
        {{ form.recaptcha(class='form-control') }}
        {{ render_field_error(form.recaptcha) }}
        </div>
        <div class="col-sm-4">
            <p class="text-info">
            {{ form.recaptcha.description }}
            </p>
        </div>
   </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">确认修改</button>
    </div>
  </div>
</form>
</div>
</div>
</div> <!-- ./container -->
{% include 'inc/footer.html' with context %}
{% endblock %}
