{% extends "layout/default.html" %}
{% from "shared/_formhelpers.html" import render_field_error %}

{% block title %}重发确认信{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/auto-email.js')}}"></script>
<script>
    $(function(){
        $("#email").autoEmail(["pku.edu.cn", "icst.pku.edu.cn"], true);
        $(".change-captcha").click(function(){
            $('#captcha-img').remove();
            var captcha = "<img src='{{ url_for('captcha') }}' alt='验证码' id='captcha-img'/>";
            $('#captcha-link').html(captcha);
        });
    });
</script>   
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
    <div class="row">
        <form role="form" class="form-horizontal" >
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.email(class='form-control', placeholder='example@pku.edu.cn') }}
                    {{ render_field_error(form.email) }}
                </div>
                <div class="col-sm-4">
                    <p class="text-info">
                    {{ form.email.description }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                {{ form.captcha.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.captcha(class='form-control') }}
                    {{ render_field_error(form.captcha) }}
                    <div id="captcha-div">
                    <br />
                    <a id="captcha-link" class="change-captcha" title="点击换一张" href="#">
                    <img src="{{ url_for('captcha') }}" alt="验证码" id='captcha-img'/>
                    </a>
                    </div>
                    <br />
                    <a class="change-captcha" href="#">看不清楚,换一张</a>
                </div>
                <div class="col-sm-4">
                    <p class="text-info">
                    {{ form.captcha.description }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">确认发送</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div> <!-- ./container -->      
{% include 'inc/footer.html' with context %}
{% endblock %}
