{% extends "layout/default.html" %}

{% block title %}我发布的商品{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
<style type="text/css">
#goods-div { margin-top: 5px;margin-bottom: 5px;	border: 1px solid #ddd;}
#goods-div hr { border-style: dotted; }
.goods-row {margin-top: 5px; margin-bottom: 5px;}
.goods-status-0 { color: green; font-weight: bold;}
.goods-status-1 { color: red; font-weight: bold;}
.goods-status-2 { color: orange; font-weight: bold;}
.goods-status-3 { color: red; font-weight: bold;}
.goods-status-4 { color: red; font-weight: bold;}
.goods-title {font-size: 1.2em; font-weight: bold; line-height: 1; margin-top: 10px;}
.goods-time { color: grey; font-size: 0.8em;}
.goods-img {border: 1px solid transparent; margin-top: 10px; padding-left: 10px;}
</style>
{% endblock %}

{% block custom_script %}
<script>
    $(function() {
        $(".btn-op").click(function(){
            var btn = $(this);
            btn.button('loading');
            var target = $(this).attr("name");
            var desc = $(this).attr("desc");
            //if(confirm(desc)) {
                $.ajax({
                    type: "GET",
                    url: target,
                    success: function(data) {
                        if(data.status != 'OK') {
                            btn.button('reset');
                            alert(data.error);
                            } else {
                            alert('修改状态成功.');
                            location.reload(); 
                        }
                    },
                    dataType: 'json'
                });
            //}
        });
    })
</script>
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li class="active"><a href="{{ url_for('user_sell') }}">我发布的商品</a></li>
                <li><a href="{{ url_for('user_buy') }}">我求购的商品</a></li>
                <!--<li><a href="{{ url_for('user_message') }}">我的消息</a></li>-->
                <li><a href="{{ url_for('user_info') }}">我的资料</a></li>
            </ul>
        </div>
    </div>
    <div id="goods-div">
        {% for goods in sells %}
        <!-- FOREACH GOODS -->
        <div class="row goods-row">
            <div class="col-md-2">
                <a href="{{url_for('sell_id', id=goods.id)}}">
                    {% if(goods.thumbnails != "") : %}
                    <img class="goods-img" src="{{url_for('images.crop', filename='uploads/sell/' + goods.thumbnails, width=120, height=120)}}">
                    {% else: %}
                    <img class="goods-img" src="{{url_for('static', filename='images/small')}}/{{goods.category.id}}.png" width=120 height=120>
                    {% endif %}
                </a>
            </div>
            <div class="col-md-10">
                <h3 class="goods-title">
                    <a href="{{url_for('sell_id', id=goods.id)}}">
                        {{goods.title}}
                    </a>
                </h3>
               <p class="description">
               {{goods.description}}
               </p>    
               <p><span class="price">￥{{goods.price}}</span></p>
                <p class="goods-status-{{goods.status}}">状态：{{ g.status['sell'][goods.status] }}</p>
                <p class="goods-time">发布时间: {{goods.create_time}}</p>
                <a href="{{url_for('sell_edit_id', id=goods.id)}}" class="btn btn-info">修改信息</a>
                {% if goods.status == 0: %}
                <!-- 正在出售  --!>
                <a name="{{url_for('sell_update', id=goods.id, status=2)}}" class="btn btn-primary btn-op" data-loading-text="处理中..." >已经预订</a>
                <a name="{{url_for('sell_update', id=goods.id, status=1)}}" class="btn btn-primary btn-op" data-toggle="tooltip" data-placement="top" title="商品状态改为确认售出后，该商品将被删除" data-loading-text="处理中..." >确认售出</a>
                <a name="{{url_for('sell_update', id=goods.id, status=4)}}" class="btn btn-default btn-op" data-loading-text="处理中..." >放弃出售</a>			
                {% elif goods.status == 1: %}
                <!-- 已经下架 --!>
                <a name="{{url_for('sell_update', id=goods.id, status=0, day=7)}}" class="btn btn-primary btn-op" data-loading-text="处理中..." >重新出售</a>
                {% elif goods.status == 2: %}
                <!-- 已经预订 --!>
                <a name="{{url_for('sell_update', id=goods.id, status=0)}}" class="btn btn-primary btn-op" data-loading-text="处理中..." >解除预订</a>
                {% endif %}
            </div>
        </div>
        <hr />
        <!-- ENDFOREACH -->
        {% endfor %}
        {{ pagination.links|safe }}
    </div>
</div>
{% include 'inc/footer.html' with context %}
{% endblock %}
