.slogan {
    color: #ccc;
    letter-spacing: 1em;
    font-size: 1.5em;
}
#category-list {
    background-color: #eeeeed;
    color: #7a7a78;
    border: 2px solid #9f9f9f;
    min-width: 180px;
}
#category-list>li>a {
    padding: 4px 10px;
    color: #7a7a78;
}
div.caption h3 {
    margin-top:0px!important;
    font-size: 0.9em!important;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
/*
#category-list{
	padding-left: 14px;
	padding-right: 14px;
}
#category-list>li
{
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
	border: 1px solid #fff;
	background-color: #f5f5f5;
}*/
.floor {
	margin-top: 10px;
}
.floor .goods-div .caption > h3 {
	font-size: 1.2em;
	font-weight: bold;
}
.floor .goods-div .caption > p {
	font-size: 1em;
}
.location { font-size: 0.9em; }
.price { 
    color: red;
    font-size: 0.9em;
    padding-right: 2px;
    font-weight: bold;
}
.thumbnail {
    border:none!important;
}
.goods-div .thumbnail img{
    border: 1px solid #f5f5f5!important;
}
.panel {
    border-radius: 1px!important;
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.main-btn {
    margin-bottom: 6px;
}
