.panel-info>.panel-heading {
    color: white;
    background-color: #60c9f9;
    border-color:#40bef8;
    font-size: 1.1em;
}
.panel-info>.panel-heading>.pull-left {
    padding-right: 1.5em;
}
.panel-info>.panel-heading a {
    color: #333;
    font-size: 0.9em;
}
.slogan {
    color: #ccc;
    letter-spacing: 1em;
    font-size: 1.5em;
}
.popover {
    height:auto!important;
    color: #7a7a78;
    border-radius: 1px;
    border: 2px solid #9f9f9f!important;
}
.popover-content {
    min-width: 200px;
    background-color: #eeeeed;
    color: #7a7a78;
}
.popover-content a {
    padding-top: 2px;
    color: #7a7a78;
}
.popover-content ul {
    list-style-type: none;
    line-height: 1.8em;
}    

#category-list {
    background-color: #eeeeed!important;
    color: #7a7a78!important;
    border: 2px solid #9f9f9f!important;
    min-width: 150px;
    -webkit-box-shadow: none!important;
    top: 0px!important;
    border-radius: 1px!important;
}

#category-list>li>a {
    padding: 4px 10px;
    color: #7a7a78;
}
div.caption h3 {
    margin-top:0px!important;
    font-size: 0.8em!important;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.category-row .col-md-2, 
.category-row .col-md-7, 
{
    padding-right: 2px!important;
}
.category-row .col-md-3{
    padding-left: 2px!important;
}
.more-category {
    padding-left: 10px;
}
.more-category a {
    padding-right: 10px;
}
.floor {
    margin-top: 10px;
    margin-bottom: 2px!important;
}
.floor .goods-div .caption > h3 {
    font-size: 1.2em;
    font-weight: bold;
}
.floor .goods-div .caption > p {
    font-size: 1em;
}
.location { font-size: 0.9em; }
.price { 
    color: red;
    font-size: 0.9em;
    padding-right: 2px;
    font-weight: bold;
}
.thumbnail {
    border:none!important;
    margin-bottom: 0px!important;
    margin-bottom: -10px!important;
}
.goods-div .thumbnail img{
    border: 1px solid #f5f5f5!important;
    max-height: 225px!important;
}
.panel {
    border-radius: 1px!important;
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.main-btn {
    margin-bottom: 6px;
}
