#category-list{
	padding-left: 14px;
	padding-right: 14px;
}
#category-list>li
{
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
	border: 1px solid #fff;
	background-color: #f9f9f9;
}
.floor {
	margin-top: 10px;
}
.floor .goods-div .caption > h3 {
	font-size: 1.2em;
	font-weight: bold;
}
.floor .goods-div .caption > p {
	font-size: 1em;
}
.location { font-size: 1em; }
.price { 
    color: red;
    font-size: 1.1em;
    padding-right: 2px;
    font-weight: bold;
}
.thumbnail {
    border:none!important;
}
