<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - 北大集市网</title>
<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/global.css')}}" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='images/pkujishi.ico', version='0.1') }}" />
{% block custom_css %}{% endblock %}
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% block custom_script %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=container>
    <div class=row>
    <div class=col-md-12>
        {% for category,message in messages %}
        <div class="flashes alert alert-{{category}} fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>提示</strong> 
            {{ message }}
        </div>
        {% endfor %}
    </div>
    </div>
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
