<html>
	<head>
        <meta charset="utf-8">
        <title>北大集市邮箱验证</title>
    </head>
	<body>
        <h2>欢迎您注册北大集市</h2>
        <p>亲爱的{{user.name}},您好！<br />
        感谢您注册北大集市网。请点击下面的链接，验证您的邮箱：<br />
        <a href={{url}}>验证邮箱</a>      <br />
        您也可以复制以下链接到您的浏览器地址栏中访问 <br />
        {{url}} <br />
        验证成功后，您可以使用邮箱登录乐慈网 <br />
        <br />
        北大集市团队 <br />
        -------------------------------- <br />
        您收到本邮件是因为您的邮箱在北大集市网注册了。 <br />
        如果您本人并未注册，请直接忽略。本邮件为系统发送，请勿回复。<br />
        </p>
    </body>
</html>
