{% extends "layout/default.html" %}

{% block title %}{{category.name}}{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div class="container">
<div class="col-md-9">
  {% include 'shared/category.html' with context %}
  <div class="floor panel panel-info">
    <div class="goods-type col-md-12 panel-heading">
      <span class="pull-left">{{category.name}}专区</span>
      <br />
    </div>
  <div class="goods-div panel-body">
	{% for goods in sells %}
	<div class="col-md-3">
      <div class="thumbnail">
        <a href="{{ url_for('sell_id', id=goods.id) }}">
            <img src="{{url_for('static', filename='images/small')}}/{{ goods.category.name}}.png">
        </a>
        <div class="caption">
            <h3><a href="{{ url_for('sell_id', id=goods.id) }}">{{ goods.title }}</h3> </a>
        <p>
          <span class="location">{{ goods.location.name }}</span>
          <span class="price">{{goods.price}}</span>
        </p>
        </div>
      </div>
    </div>
	{% endfor %}
  </div>
  </div> <!-- ./floor-->

</div><!-- ./col-md-9 -->
<div class="col-md-3">
  <a href="{{ url_for('sell_post') }}" class="btn btn-primary btn-lg">我要发布</a>
  <br /><br />
  {% include 'shared/board.html' with context %}
</div><!-- ./col-md-3 -->
</div>
{% include 'inc/footer.html' with context %}
{% endblock %}
