{% extends "layout/default.html" %}

{% block title %}{{ sell.title }}{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
<style type="text/css">
    .carousel-inner .item {
        height: 300px;
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-inner .item > img {
        max-height: 300px;
        max-width: 400px;
    }
    #thumb-div {
        margin-top: 10px;
    }
    #thumb-div img {
        width: 50px;
        height: 50px;
    }
    .goods-detail-div strong 
    {   
        color: red;
    }
</style>
{% endblock %}

{% block custom_script %}
<script>
    $(function(){
        $('.carousel').carousel({
            interval: 8000
        });
        $("#thumb-div a").click(function(){
            $(".carousel").carousel(parseInt($(this).attr("name")));
        })
    });
</script>
{% endblock %}
{% block content %}
{% include 'inc/header.html' with context %}
<div class="container">
<div class="col-md-9">
  {% include 'shared/category.html' with context %}
  <!-- Free Floor -->
  <div class="floor">
  <div class="row">
  <legend>{{ sell.title }}</legend>
  <div class="goods-img-div col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <!-- FOREACH PICS -->
            {% if images %}
            {% for image in images %}
            {% if loop.first %}
            <div class="item active">
            {% else %}
            <div class="item">
            {% endif %}
            <img src="{{url_for('images.crop', filename=image, width=400, height=300, quality=95)}}">
            </div>
            {% endfor %}
            <!-- ENDFOREACH -->
            {% else %}
            <div class="item active">
               <img src="{{url_for('static', filename='images/large')}}/{{ sell.category.id}}.png">
            </div>
            {% endif %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div id="thumb-div" class="row">
        {% for image in images %}
        <div class="col-md-3">
        <a href="#" name="{{loop.index-1}}" class="thumbnail">
           <img src="{{ url_for('static', filename=image) }}" alt="pic">
        </a>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="goods-detail-div col-md-6">
    <table class="table table-bordered">
        <tr>
        	<th class="col-md-3">价格</th>
            <td><strong>{{ sell.price }} 元</strong></td>
        </tr>
        <tr>
        	<th>状态</th>
            <td>
                <strong>{{ g.status['sell'][sell.status] }}</strong>
                {% if sell.status == 2: %}
                <red>(该产品已经被预定，请暂时不要联系卖家)<red>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>交易地点</th>
            <td>{{ sell.location.name }}</td>
        </tr>
        <tr>
            <th>发布时间</th>
            <td>{{ sell.create_time }}</td>
        </tr>
        <tr>
            <th>发布者</th>
            <td><a href="{{url_for('user_id', id=sell.user.id) }}">{{ sell.user.name }}</a> 
                <br />
                点击查看该用户正在卖的所有商品</td>
        </tr>
        <tr>
            <th>手机号</th>
            <td>{{ sell.phone }}</td>
        </tr>
        <tr>
            <th>QQ</th>
            <td>{{ sell.qq }}</td>
        </tr>
        <tr>
            <th>详细信息</th>
            <td>{{ sell.description }}</td>
        </tr>
    </table>
</div>
  </div>
  </div> <!-- ./floor-->

  <div class="row">
      <div class="col-md-12">
          {% include 'shared/comment.html' with context %}
      </div>
  </div>

</div><!-- ./col-md-9 -->
<div class="col-md-3">
    <a href="{{ url_for('sell_post') }}" class="btn btn-primary btn-lg">我要发布</a>
    <br /><br />
    {% include 'shared/board.html' with context %}
</div><!-- ./col-md-3 -->
</div>
{% include 'inc/footer.html' with context %}
{% endblock %}
