{% extends "layout/default.html" %}

{% block title %}商品列表{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div class="container">
<div class="col-md-9">
    {% include 'shared/category_sell.html' with context %}
    <div class="row">
        <br />
        <div class="col-md-12">
        <div class="btn-group">
            <a href="{{ url_for('sell_index', category_id=category_id) }}" class="btn btn-default">全部</a>
            {% for location in g.locations %}
            <a href="{{ url_for('sell_index', location_id=location.id, category_id=category_id) }}" class="btn btn-default">{{ location.name }}</a>
            {% endfor %}
        </div>
        </div>
    </div>
    <div class="floor panel panel-info">
        <div class="goods-type col-md-12 panel-heading">
            <span class="pull-left">全部商品</span>
            <br />
        </div>
        <div class="goods-div panel-body">
            {% for goods in sells %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ url_for('sell_id', id=goods.id) }}">
              {% if(goods.thumbnails != "") : %}
              <img src="{{url_for('images.crop', filename='uploads/sell/' + goods.thumbnails, width=128, height=128)}}">
              {% else: %}
              <img src="{{url_for('static', filename='images/small')}}/{{ goods.category.id}}.png">
              {% endif %}
                    </a>
                    <div class="caption">
                        <h3><a href="{{ url_for('sell_id', id=goods.id) }}">{{ goods.title }}</h3> </a>
                        <p>
                        <span class="location">{{ goods.location.name }}</span>
                        <br />
                        <span class="price">￥{{goods.price}}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> <!-- ./floor-->
    {{ pagination.links|safe }}
</div><!-- ./col-md-9 -->
<div class="col-md-3">
    {% include 'shared/main_btn.html' with context %}
    <br /><br />
    {% include 'shared/board.html' with context %}
</div><!-- ./col-md-3 -->
</div>
{% include 'inc/footer.html' with context %}
{% endblock %}
