{% extends "layout/default.html" %}

{% block title %}{{category.name}} - 求购专区{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
<style type="text/css">
    .goods-status-1 { color: green; font-weight: bold;}
    .goods-status-2 { color: grey; font-weight: bold;}
    .goods-title {font-size: 1.2em; font-weight: bold; line-height: 1; }
    .goods-time { color: grey; font-size: 0.8em;}
</style>
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div class="container">
    <div class="col-md-9">
        {% include 'shared/bcategory.html' with context %}
        <div class="floor panel panel-success">
            <div class="goods-type col-md-12 panel-heading">
                <span class="pull-left"> {{ category.name }} </span>
                <span class="more-category"></span>
                <br />
            </div>
            <div class="goods-div panel-body">
                {% for goods in buys %}
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><a href="{{ url_for('buy_id', id=goods.id) }}" >{{ goods.title }}</a></h3>
                            <p>
                            <span class="location">{{ goods.location.name }}</span>
                            <span class="price">
                                出价范围: {{goods.price_low}} - 
                                {{goods.price_high}}
                            </span>
                            </p>
                            <p class="description">
                            {{goods.description}}
                            </p>    
                            <p class="contact">
                            <span>
                                QQ: {{goods.qq}}
                            </span> | 
                            <span>
                                手机: {{goods.phone}}
                            </span>
                            </p>
                            <p class="time">
                            创建时间: {{goods.create_time }}
                            </p>
                        </div>
                        <hr />
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> <!-- ./floor-->

    </div><!-- ./col-md-9 -->
    <div class="col-md-3">
        <a href="{{ url_for('buy_post') }}" class="btn btn-primary btn-lg">我要求购</a>
        <br /><br />
        {% include 'shared/board.html' with context %}
    </div><!-- ./col-md-3 -->
</div>
{% include 'inc/footer.html' with context %}
{% endblock %}
