{% extends "layout/default.html" %}

{% block title %}{{ buy.title }}{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block custom_script %}
{% endblock %}
{% block content %}
{% include 'inc/header.html' with context %}
<div class="container">
<div class="col-md-9">
  {% include 'shared/category_buy.html' with context %}
  <!-- Free Floor -->
  <div class="floor">
  <div class="row">
  <div class="goods-detail-div col-md-12">
    <legend>{{ buy.title }}</legend>
    <table class="table table-bordered">
        <tr>
        	<th class="col-md-3">出价范围</th>
            <td>￥{{ buy.price_low }} - ￥{{ buy.price_high }}</td>
        </tr>
        <tr>
        	<th>交易地点</th>
            <td>{{ buy.location.name }}</td>
        </tr>
        <tr>
        	<th>发布时间</th>
            <td>{{ buy.create_time }}</td>
        </tr>
        <tr>
        	<th>发布者</th>
            <td><a href="{{url_for('user_id', id=buy.user.id) }}">{{ buy.user.name }}</a></td>
        </tr>
        <tr>
        	<th>手机号</th>
            <td>{{ buy.phone }}</td>
        </tr>
        <tr>
        	<th>QQ</th>
            <td>{{ buy.qq }}</td>
        </tr>
        <tr>
            <th>详细信息</th>
            <td>{{ buy.description }}</td>
        </tr>
    </table>
  </div>
  </div>
  </div> <!-- ./floor-->
    
  <div class="row">
      <div class="col-md-12">
          {% include 'shared/comment.html' with context %}
      </div>
  </div>

</div><!-- ./col-md-9 -->
<div class="col-md-3">
  {% include 'shared/main_btn.html' with context %}
  <br /><br />
  {% include 'shared/board.html' with context %}
</div><!-- ./col-md-3 -->
</div>
{% include 'inc/footer.html' with context %}
{% endblock %}
