{% extends "layout/default.html" %}

{% block title %}求购列表{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div class="container">
<div class="col-md-9">
    {% include 'shared/category_buy.html' with context %}
    <div class="row">
        <br />
        <div class="col-md-12">
        <div class="btn-group">
            <a href="{{ url_for('buy_index', category_id=category_id) }}" class="btn btn-default">全部</a>
            {% for location in g.locations %}
            <a href="{{ url_for('buy_index', location_id=location.id, category_id=category_id) }}" class="btn btn-default">{{ location.name }}</a>
            {% endfor %}
        </div>
        </div>
    </div>
    <div class="floor panel panel-info">
        <div class="goods-type col-md-12 panel-heading">
            <span class="pull-left">全部商品</span>
            <br />
        </div>
        <div class="goods-div panel-body">
            {% for goods in buys %}
            <div class="col-md-12">
                <div>
                    <div class="caption">
                        <h3><a href="{{ url_for('buy_id', id=goods.id) }}" >{{ goods.title }}</a></h3>
                        <p>
                        <span class="location">{{ goods.location.name }}</span>
                        <span class="price">
                            出价范围: ￥{{goods.price_low}} - ￥{{goods.price_high}}
                        </span>
                        </p>
                        <p class="description">
                        {{goods.description}}
                        </p>    
                        <p class="contact">
                        <span>
                            QQ: {{goods.qq}}
                        </span> | 
                        <span>
                            手机: {{goods.phone}}
                        </span>
                        </p>
                        <p class="time">
                        创建时间: {{goods.create_time }}
                        </p>
                    </div>
                    <hr />
                </div>
            </div>         
            {% endfor %}
        </div>
    </div> <!-- ./floor-->
    {{ pagination.links|safe }}
</div><!-- ./col-md-9 -->
<div class="col-md-3">
  {% include 'shared/main_btn.html' with context %}
  <br /><br />
  {% include 'shared/board.html' with context %}
</div><!-- ./col-md-3 -->
</div>
{% include 'inc/footer.html' with context %}
{% endblock %}
