{% extends "layout/default.html" %}

{% block title %}首页{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block custom_script %}
<script type="text/javascript">
  $(function(){
    $('.carousel').carousel();
  });
</script>
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div class="container">
<div class="col-md-9">
  {% include 'shared/carousel.html' with context %}
  {% include 'shared/category.html' with context %}
  <!-- Free Floor -->
  <div class="floor panel panel-default">
    <div class="goods-type col-md-12 panel-heading">
      <span class="pull-left">免费赠送专区</span>
      <span class="more-category"></span>
      <span class="pull-right"><a href="{{ url_for('sell_free') }}">查看更多</a></span>
    <br />
    </div>
  <div class="goods-div panel-body">
	{% for goods in sells_free %}
	<div class="col-md-3">
      <div class="thumbnail">
          <a href="{{ url_for('sell_id', id=goods.id) }}" alt="{{goods.title}}">
              <img src="{{url_for('static', filename='images/small')}}/{{ goods.category.name}}.png">
          </a>
        <div class="caption">
        <h3><a href="{{ url_for('sell_id', id=goods.id) }}" >{{ goods.title }}</a></h3>
        <p>
          <span class="location">{{ goods.location.name }}</span>
          <br />
          <span class="price">免费赠送</span>
        </p>
        </div>
      </div>
    </div>
	{% endfor %}
  </div>
  </div> <!-- ./floor-->

  <a>分类浏览</a> | 
  <a href="{{ url_for('sell_category_id', id=0) }}">查看所有</a>
  {% for sells_floor in sells_floors %}
  <!-- Floor -->
  <div class="floor panel panel-info">
  <div class="panel-heading">
      <span class="pull-left">{{ loop.index }}F {{g.categories[loop.index-1].name}}</span>
      <span class="more-category">
          {% for sub_category in g.categories[loop.index-1].sub_categories %}
          <a href="{{ url_for('sell_category_id', id=sub_category.id) }}">{{ sub_category.name }}</a> &nbsp;
          {% endfor %}
      </span>
      <span class="pull-right">
          <a href="{{ url_for('sell_category_id', id=g.categories[loop.index-1].id) }}">查看更多</a>
      </span>
      <br />
  </div>
  <div class="panel-body">
  <div class="goods-div">
	{% for goods in sells_floor %}
    <div class="col-md-3">
      <div class="thumbnail">
          <a href="{{ url_for('sell_id', id=goods.id) }}" alt="{{goods.title}}">
              <img src="{{url_for('static', filename='images/small')}}/{{ goods.category.name}}.png">
          </a>
        <div class="caption">
        <h3><a href="{{ url_for('sell_id', id=goods.id) }}" >{{ goods.title }}</a></h3>
        <p>
        <span class="location">{{ goods.location.name }}</span>
        <br />
        <span class="price">{{ goods.price }} 元</span>
        </p>
        </div>
      </div>
    </div>
	{% endfor %}
  </div>
  </div>
  </div> <!-- ./floor-->
  {% endfor %}

</div><!-- ./col-md-9 -->
<div class="col-md-3">
  <a href="{{ url_for('sell_post') }}" class="btn btn-primary btn-lg">我要发布</a>
  <br /><br />
  {% include 'shared/board.html' with context %}
</div><!-- ./col-md-3 -->
</div>

{% include 'inc/footer.html' with context %}
{% endblock %}
