{% extends "layout/default.html" %}

{% block title %}加入我们{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>加入我们</h2>
            <p>这是最好的时代，也是最坏的时代。不远的未来，一切还没有被互联网改变的传统行业，都会被互联网改变或者产生很大的影响。身为北大人，应该站在历史车轮的风口浪尖，去做改变时代的弄潮儿。</p>
            <p>创业，不是一件简单的事情，但是也没有想象中的那么困难，只要有一颗敢于尝试的心，即使失败了又有何妨。大学生创业总被社会上的人定义为不靠谱，有一定的道理，但是他们是从成功率的角度上考虑的。而积极的进行尝试性质的创业，对于我们大学生而言，没有失败，只有成长的收获。我们不需要考虑挣多少钱，我们只是需要验证我们的某一个想法或者灵感能不能走的通。想到了，然后去做了，这才是真正的关键。</p>
            <p>每个人的心中都有一个梦想，我知道很少人会真正的实现，但我想问的是有多少人真正的追逐过。趁我们还年轻，为何不疯狂一把呢？把所有现实的桎梏抛弃在脑后，挤出一点时间，去尝试自己心中的那个梦想或者是想法，当你真正的开始做的时候，或许，你会发现，原来，没有想象中那么难。</p>
            <p>所以，加入我们吧，积极的去实践自己的想法，让我们在尝试创业的道路上一起成长。喂，还犹豫什么啊？</p>
            <p>如果你擅长美工，对于设计比较在行，PS技术比较熟练，何不来我们这里大放光彩呢，我们都是一群没有艺术细胞的码农，快来拯救我们吧。</p>
            <p>如果你擅长开发，不论是PC端还是移动端，何不来我们这里练练手，我们一起切磋交流，实战经验会大大大提升，没准，还能一起搞一件惊天动地的事情来，想的多了，还是有点小激动的。</p>
            <p>如果你比较精通营销，总是在人人圈子或者微信圈子里面产生很大的影响力，何不加入我们呢，互联网的营销就是需要你们这样的人。</p>
            <p>加入我们吧，码农的世界需要你们的证据，快来啊。</p>
            <p>Email:wangrs1103@gmail.com</p>
        </div>
    </div>
</div>

{% include 'inc/footer.html' with context %}
{% endblock %}
