<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='images/pkujishi.ico', version='0.1') }}" />
        <title>北大集市——咱北大人自己的二手市场！</title>
    </head>
    <body align=center background="bd.png">
        <center><img src="{{ url_for('static', filename='images/mobile/post_phone1.jpg') }}" usemap="#planetmap"  border="0px" ></center>
        <map id="planetmap" name="planetmap">
        <map id="planetmap" name="planetmap">
        <area shape="rect" coords="19,13,217,108" href="http://www.pkujishi.com"   alt="点击进入北大集市" >
        <hr>
        <center><img src="{{ url_for('static', filename='images/mobile/post_phone2.jpg') }}"  ></center>
        <hr>
        <center><img src="{{ url_for('static', filename='images/mobile/post_phone3.jpg') }}"  ></center>
    </body>
</html>
