{% extends "layout/default.html" %}

{% block title %}搜索结果{% endblock %}

{% block custom_css %}
<style type="text/css">
    .goods-div { margin-top: 5px;margin-bottom: 5px;	border: 1px solid grey;}
    .goods-div hr { border-style: dotted; }
    .goods-row {margin-top: 5px; margin-bottom: 5px;}
    .goods-status-1 { color: green; font-weight: bold;}
    .goods-status-2 { color: grey; font-weight: bold;}
    .goods-title {font-size: 1.2em; font-weight: bold; line-height: 1; margin-top: 10px;}
    .goods-time { color: grey; font-size: 0.8em;}
    .goods-img {border: 1px solid transparent; margin-top: 10px; padding-left: 10px;}
</style>
{% endblock %}

{% block custom_script %}
{% endblock %}

{% block content %}
{% include 'inc/header.html' with context %}
<div id="main" class="container">
    <div class="panel panel-info">
        <div class="panel-heading">搜索 {{q}} 相关的商品 </div>
        <div id="goods-div" class="panel-body">
            {% for goods in sells %}
            <div class="row goods-row">
                <div class="col-md-2">
                    <a href="{{ url_for('sell_id', id=goods.id) }}">
                        <img class="goods-img" src="{{ url_for('static', filename='images/logo.png')}}" alt="商品图片" width="120" height="120"/>
                    </a>
                </div>
                <div class="col-md-10">
                    <h3 class="goods-title"><a href="{{ url_for('sell_id', id=goods.id) }}">{{ goods.title }}</a></h3>
                    <p class="goods-location">{{ goods.location.name }}</p>
                    <p class="goods-price">{{ goods.price }}元</p>
                    <p class="description">{{goods.description}}</p>		
                    <p class="goods-time">发布时间: {{ goods.create_time }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">搜索 {{q}} 相关的求购 </div>
        <div id="goods-div" class="panel-body">
            <!-- FOREACH GOODS -->
            {% for goods in buys %}
            <div class="row goods-row">
                <div class="col-md-12">
                    <h3 class="goods-title"><a href="{{ url_for('buy_id', id=goods.id) }}">标题:{{ goods.title }}</a></h3>
                    <p class="goods-status-1">状态：{{goods.status}}</p>
                    <p class="goods-price"> 要价范围{{ goods.low_price }} - {{ goods.high_price }}元</p>

                    <p class="description">{{goods.description}}</p>		
                    <p class="goods-time">发布时间: {{goods.create_time}}</p>		
                </div>
            </div>
            <hr />
            <!-- ENDFOREACH -->
            {% endfor %}
        </div>
    </div>

</div>
{% include 'inc/footer.html' with context %}
{% endblock %}
